annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.12.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.1.8
colorama==0.4.6
comtypes==1.4.14
contourpy==1.3.3
crispy-bootstrap5==2025.6
cycler==0.12.1
Django==6.1
django-crispy-forms==2.4
djangorestframework==3.18.0
et_xmlfile==2.0.0
fastapi==0.128.0
fonttools==4.61.1
gTTS==2.5.4
h11==0.16.0
idna==3.10
kiwisolver==1.4.9
matplotlib==3.10.8
mysqlclient==2.2.7
numpy==2.4.0
opencv-python==4.13.0.92
openpyxl==3.1.5
packaging==26.0
pandas==2.3.3
pillow==11.2.1
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
pypiwin32==223
pypng==0.20220715.0
PyQRCode==1.2.1
python-dateutil==2.9.0.post0
pyttsx3==2.99
pytz==2025.2
pywin32==311
qrcode==8.2
requests==2.32.4
scipy==1.17.1
seaborn==0.13.2
six==1.17.0
sqlparse==0.6.0
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.3
urllib3==2.5.0
uvicorn==0.40.0
