<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <title>Gym Fitness - Admin Dashboard</title>
     
    
</head>

<body>
    <nav class="navbar">

        <div class="logo">
            TITAN<span> FiT</span>
        </div>
    
        <div class="nav-links">
            <a href="{% url 'admin_dashboard' %}">Dashboard</a>
            <a href="#">Trainers</a>
            <a href="#">Users</a>
            <a href="#">Workouts</a>
            <a href="#">Diets</a>
            <a href="{% url 'admin_logout' %}" class="logout">
                Logout
            </a>
        </div>
    
    </nav>

<div class="sidebar">

    <h1>TiTaN FiT</h1>

    <a href="{% url 'admin_dashboard' %}">Dashboard</a>

    <a href="/admin/gym/trainer/">Trainers</a>

    <a href="/admin/gym/member/">Users</a>

    <a href="/admin/gym/workout/">Workouts</a>

    <a href="/admin/gym/diet/">Diets</a>

    <a href="{% url 'admin_logout' %}" class="logout-btn">
        Logout
    </a>
</div>

<div class="dashboard-container">

    <div class="welcome">
        <h1>Welcome, <span>Admin</span></h1>
        <p>Manage your complete gym fitness system.</p>
    </div>

    <div class="cards">
        <div class="card">

            <h3>Trainers</h3>

            <h1>{{ trainer_count }}</h1>

            <a href="/admin/gym/trainer/">
                Manage Trainers
            </a>
        </div>

        <div class="card">

            <h3>Users</h3>

            <h1>{{ member_count }}</h1>

            <a href="/admin/gym/member/">
                Manage Users
            </a>

        </div>

        <div class="card">

            <h3>Workouts</h3>

            <h1>{{ workout_count }}</h1>

            <a href="/admin/gym/workout/">
                Manage Workouts
            </a>

        </div>

        <div class="card">

            <h3>Diets</h3>

            <h1>{{ diet_count }}</h1>

            <a href="/admin/gym/diet/">
                Manage Diets
            </a>

        </div>

    </div>

    <div class="welcome">

        <h2>Admin Management</h2>

        <p>
            Admin can manage trainers, users, workouts
            and diet information from this system.
        </p>

        <div class="buttons">

            <a href="/admin/gym/trainer/">
                Manage Trainers
            </a>

            <a href="/admin/gym/member/">
                Manage Users
            </a>

            <a href="/admin/gym/workout/">
                Manage Workouts
            </a>

            <a href="/admin/gym/diet/">
                Manage Diets
            </a>
        </div>
    </div>
</div>
</body>
</html>